<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Airavata_Remote_Job_Runner</display-name>
<!-- 	<welcome-file-list> -->
<!-- 	<welcome-file>login.htm</welcome-file> -->
	<!-- <welcome-file>index.htm</welcome-file> -->
	<!-- <welcome-file>index.jsp</welcome-file> -->
	<!-- <welcome-file>default.html</welcome-file> -->
	<!-- <welcome-file>default.htm</welcome-file> -->
	<!-- <welcome-file>default.jsp</welcome-file> -->
<!-- 	</welcome-file-list> -->

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml,
			/WEB-INF/spring/application_servlets/applicationContext.xml,								
			/WEB-INF/spring/application_servlets/spring-security.xml		
		</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
    	<url-pattern>/j_spring_security_check</url-pattern>
	</filter-mapping>
	
	<session-config>
		<session-timeout>20</session-timeout>
		<cookie-config>
		 	<http-only>true</http-only>
		</cookie-config>				
	</session-config>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>airavataJobRunnerApplicationServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/application_servlets/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>airavataJobRunnerApplicationServlet</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>


<security-constraint>
    <web-resource-collection>
        <web-resource-name>Airavata_Remote_Job_Runner</web-resource-name>
        <url-pattern>/*</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
    </web-resource-collection>

    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>

</web-app>